{
  "type": "mysql",
  "host": "localhost",
  "port": 3306,
  "username": "CHANGE ME!",
  "password": "CHANGE ME!",
  "database": "CHANGE ME!",
  "synchronize": true,
  "logging": false,
  "entities": [
     "src/Entities/**/*.ts"
  ],
  "cli": {
     "entitiesDir": "src/Entities"
  }
}